<div class="flex justify-between items-center p-[32px]">
  <div class="flex gap-2 items-center">
    <img
      src={`${import.meta.env.ICONS_FOLDER}/logo.svg`}
      alt="Logo"
      class="w-8 h-8 lg:w-10 lg:h-10"
    />
    <p class="text-24 font-bold text-black">AKTIV</p>
  </div>

  <div class="flex gap-32 text-16 font-medium text-gray">
    <a href="">View My Booking</a>
    <a href="">Workshop</a>
    <a href="">Community</a>
    <a href="">Testimone</a>
  </div>

  <button
    class="flex items-center gap-2.5 text-16 font-semibold text-white rounded-full px-6 bg-green h-[48px] justify-center"
  >
    Contact CS
    <img
      src={`${import.meta.env.ICONS_FOLDER}/wa.svg`}
      alt="Phone Call"
      class="w-5 h-5 lg:w-6 lg:h-6"
    />
  </button>
</div>
