---
import Button from "./Button.astro";
---

<div class="flex justify-between items-center p-[32px]">
  <div class="flex gap-2 items-center">
    <img
      src={`${import.meta.env.ICONS_FOLDER}/logo.svg`}
      alt="Logo"
      class="w-8 h-8 lg:w-10 lg:h-10"
    />
    <p class="text-24 font-bold text-black">AKTIV</p>
  </div>

  <div class="flex gap-32 text-16 font-medium text-gray">
    <a href="">View My Booking</a>
    <a href="">Workshop</a>
    <a href="">Community</a>
    <a href="">Testimone</a>
  </div>

  <Button variant="green" size="small" icon="wa.svg" iconAlt="Phone Call">
    Contact CS
  </Button>
</div>
